In [1]:
import pandas as pd

In [2]:
# Importing data from usda_food.txt into pandas DataFrame using pd.read_json function.

In [4]:
usda_food_data = pd.read_json('usda_food.txt')

In [5]:
usda_food_data

,id,description,tags,manufacturer,group,portions,nutrients
0,1008,"Cheese, caraway",[],,Dairy and Egg Products,"[{'amount': 1, 'unit': 'oz', 'grams': 28.35}]","[{'value': 25.18, 'units': 'g', 'description':..."
1,1009,"Cheese, cheddar",[],,Dairy and Egg Products,"[{'amount': 1, 'unit': 'cup, diced', 'grams': ...","[{'value': 24.9, 'units': 'g', 'description': ..."
2,1018,"Cheese, edam",[],,Dairy and Egg Products,"[{'amount': 1, 'unit': 'oz', 'grams': 28.35}, ...","[{'value': 4.22, 'units': 'g', 'description': ..."
3,1019,"Cheese, feta",[],,Dairy and Egg Products,"[{'amount': 1, 'unit': 'cup, crumbled', 'grams...","[{'value': 5.2, 'units': 'g', 'description': '..."
4,1028,"Cheese, mozzarella, part skim milk",[],,Dairy and Egg Products,"[{'amount': 1, 'unit': 'oz', 'grams': 28.35}]","[{'value': 3.27, 'units': 'g', 'description': ..."
...,...,...,...,...,...,...,...
6631,42161,"Bologna, beef, low fat",[],,Sausages and Luncheon Meats,"[{'amount': 1, 'unit': 'slice', 'grams': 28.0}...","[{'value': 11.8, 'units': 'g', 'description': ..."
6632,42173,"Turkey and pork sausage, fresh, bulk, patty or...",[],,Sausages and Luncheon Meats,"[{'amount': 1, 'unit': 'cup, cooked', 'grams':...","[{'value': 22.7, 'units': 'g', 'description': ..."
6633,43408,"Babyfood, juice, pear",[],None,Baby Foods,"[{'amount': 1, 'unit': 'fl oz', 'grams': 31.2}...","[{'value': 0.0, 'units': 'g', 'description': '..."
6634,43539,"Babyfood, dessert, banana yogurt, strained",[],None,Baby Foods,"[{'amount': 1, 'unit': 'tbsp', 'grams': 15.0},...","[{'value': 1.1, 'units': 'g', 'description': '..."
6635,43546,"Babyfood, banana no tapioca, strained",[],None,Baby Foods,"[{'amount': 1, 'unit': 'tbsp', 'grams': 15.0},...","[{'value': 1.0, 'units': 'g', 'description': '..."

In [6]:
#Task : Extract food_item (description), its food_category(group) and its protein value(nutrients)

In [7]:
#Step 1: Extracting food_items column

In [8]:
food_items = usda_food_data['description']

In [9]:
food_items

0                                         Cheese, caraway
1                                         Cheese, cheddar
2                                            Cheese, edam
3                                            Cheese, feta
4                      Cheese, mozzarella, part skim milk
                              ...
6631                               Bologna, beef, low fat
6632    Turkey and pork sausage, fresh, bulk, patty or...
6633                                Babyfood, juice, pear
6634           Babyfood, dessert, banana yogurt, strained
6635                Babyfood, banana no tapioca, strained
Name: description, Length: 6636, dtype: object

In [10]:
#Step 2: Extracting food_category column

In [11]:
food_category = usda_food_data['group']

In [12]:
food_category

0            Dairy and Egg Products
1            Dairy and Egg Products
2            Dairy and Egg Products
3            Dairy and Egg Products
4            Dairy and Egg Products
                   ...
6631    Sausages and Luncheon Meats
6632    Sausages and Luncheon Meats
6633                     Baby Foods
6634                     Baby Foods
6635                     Baby Foods
Name: group, Length: 6636, dtype: object

In [13]:
#Step 3: Extracting nutrients column

In [14]:
nutrients = usda_food_data['nutrients']

In [15]:
nutrients

0       [{'value': 25.18, 'units': 'g', 'description':...
1       [{'value': 24.9, 'units': 'g', 'description': ...
2       [{'value': 4.22, 'units': 'g', 'description': ...
3       [{'value': 5.2, 'units': 'g', 'description': '...
4       [{'value': 3.27, 'units': 'g', 'description': ...
                              ...
6631    [{'value': 11.8, 'units': 'g', 'description': ...
6632    [{'value': 22.7, 'units': 'g', 'description': ...
6633    [{'value': 0.0, 'units': 'g', 'description': '...
6634    [{'value': 1.1, 'units': 'g', 'description': '...
6635    [{'value': 1.0, 'units': 'g', 'description': '...
Name: nutrients, Length: 6636, dtype: object

In [17]:
#Step 4: iterating over all the extracted columns such that we end up having a below dictionary having food_item,
# food_category and protein_value as keys and values contains respective values associated with each key.

In [22]:
food_items_food_group_protein_dict = {'food_items': [], 'food_category': [], 'protein_values': []}

In [23]:
nutrients_row = 0
for item, group in zip(food_items, food_category):
    food_item = item
    food_group = group
    protein_value = None # all items may not be having description = protein
    for nutrient in nutrients[nutrients_row]:
        if nutrient['description'] == 'Protein':
            protein_value = nutrient['value']
            break # if protein found then no need to go further
    if protein_value != None: # append to various list in the dict only if the nutrients row had protein
        food_items_food_group_protein_dict['food_items'].append(food_item)
        food_items_food_group_protein_dict['food_category'].append(food_group)
        food_items_food_group_protein_dict['protein_values'].append(protein_value)
    nutrients_row += 1 # This will ensure that in the next iteration, the 2nd row of nutrients will be picked

In [25]:
item_group_protein_data = pd.DataFrame(food_items_food_group_protein_dict)

In [26]:
item_group_protein_data

,food_items,food_category,protein_values
0,"Cheese, caraway",Dairy and Egg Products,25.18
1,"Cheese, cheddar",Dairy and Egg Products,24.90
2,"Cheese, edam",Dairy and Egg Products,24.99
3,"Cheese, feta",Dairy and Egg Products,14.21
4,"Cheese, mozzarella, part skim milk",Dairy and Egg Products,24.26
...,...,...,...
6631,"Bologna, beef, low fat",Sausages and Luncheon Meats,11.80
6632,"Turkey and pork sausage, fresh, bulk, patty or...",Sausages and Luncheon Meats,22.70
6633,"Babyfood, juice, pear",Baby Foods,0.00
6634,"Babyfood, dessert, banana yogurt, strained",Baby Foods,1.10
6635,"Babyfood, banana no tapioca, strained",Baby Foods,1.00

In [28]:
item_group_protein_data[item_group_protein_data['food_category'] == 'Dairy and Egg Products']

,food_items,food_category,protein_values
0,"Cheese, caraway",Dairy and Egg Products,25.18
1,"Cheese, cheddar",Dairy and Egg Products,24.90
2,"Cheese, edam",Dairy and Egg Products,24.99
3,"Cheese, feta",Dairy and Egg Products,14.21
4,"Cheese, mozzarella, part skim milk",Dairy and Egg Products,24.26
...,...,...,...
5100,"Ensure plus, liquid nutrition",Dairy and Egg Products,5.16
5106,"Milk, imitation, non-soy",Dairy and Egg Products,1.60
5113,"Cheese, swiss, low fat",Dairy and Egg Products,28.40
5115,"Cheese, mozzarella, low sodium",Dairy and Egg Products,27.50
5120,"Cheese food, imitation",Dairy and Egg Products,22.40

In [30]:
item_group_protein_data.groupby('food_category').mean()

                                   protein_values
food_category
Baby Foods                               4.226220
Baked Products                           6.734214
Beef Products                           24.763560
Beverages                                1.336727
Breakfast Cereals                        7.602556
Cereal Grains and Pasta                  9.106831
Dairy and Egg Products                  14.216449
Ethnic Foods                            15.996061
Fast Foods                              11.294986
Fats and Oils                            0.816907
Finfish and Shellfish Products          20.326510
Fruits and Fruit Juices                  0.868262
Lamb, Veal, and Game Products           23.424667
Legumes and Legume Products             15.330548
Meals, Entrees, and Sidedishes           6.252105
Nut and Seed Products                   14.859453
Pork Products                           21.893994
Poultry Products                        23.469569
Restaurant Foods                        11.715882
Sausages and Luncheon Meats             15.861351
Snacks                                   9.779012
Soups, Sauces, and Gravies               2.783855
Spices and Herbs                        14.484878
Sweets                                   4.342111
Vegetables and Vegetable Products        2.815813